.generalStyle{
  margin: 70px 100px 0px 100px;
  color: grey;
  word-wrap: break-word;
  font-family: "Open Sans", "CMU Modern Serif Roman", "Montserrat Alternates", "Helvetica", "Arial", sans-serif;
  min-height: 100vh;
}


.blockWhite{
  padding-top: 30px;
  background-color: white;
  height: fit-content;
}

.blockWithImage{
  padding: 20px 0px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  word-wrap: break-word;
  gap: 10%;  
}


.imageStyle {
  width: 30%;
  margin: 0px 25px;
}

.smallImage {
  max-width: 20vw;
  height: auto;
}


.textBlock{
  padding: 10%;
}

.textGrey{
  padding: 0px 50px;
  margin-right: 10;
  color: #696969;
}

.textHeaderGrey{
  color: #696969;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.textSubheaderGrey{
  color: #696969;
  font-weight: bold;
  font-size: 30px;
}

.textMiniheaderGrey{
  color: #696969;
  font-weight: bold;
  font-size: 25px;
}

img {
  border-radius: 15px;
  max-width: 80vw; 
  height: auto;
}

a {
  color: #5a5f91;
}

@media (max-width: 769px){
  .generalStyle{
    margin: 70px 5px 0px 5px;
    font-size: 16px;
  }

  .blockWhite{
    background-color: white;
    height: fit-content;
  }

  .blockWithImage{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    word-wrap: break-word;
    gap: 10px;    
  }

  .textHeaderGrey{
    font-size: 24px;
  }

  .textSubheaderGrey{
    font-size: 20px;
  }

  .textMiniheaderGrey{
    font-size: 18px;
  }

  .smallImage{
    display: none;
  }

  .imageStyle {
    width: 90%;
    align-self: center;
    margin: 0px 25px;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }

  ol {
    margin: 0;
    padding: 0;
  }
}

@font-face {
  font-family: "Montserrat Alternates"; 
  src: url("../data/fonts/Montserrat Alternates.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "CMU Modern Serif Roman"; 
  src: url("../data/fonts/cmunrm.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');