.generalStyle{
  margin: 70px 100px 0px 100px;
  color: grey;
  word-wrap: break-word;
  font-family: "Open Sans", "CMU Modern Serif Roman", "Montserrat Alternates", "Helvetica", "Arial", sans-serif;
  min-height: 100vh;
}

.blockGrey{
  padding: 30px 100px;
  background-color: grey;
  height: fit-content;
}

.blockRed{
  padding: 30px 100px;
  background-color: IndianRed;
  height: fit-content;
}

.blockWhite{
  padding-top: 30px;
  background-color: white;
  height: fit-content;
}

.blockWithImage{
  padding: 20px 100px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  word-wrap: break-word;  
}


.imageStyle {
  flex-grow: 1;
  height: auto;
}

.smallImage {
  max-width: 20vw;
  height: auto;
}

.textBlock{
  padding: 10%;
}

.textWhite{
  flex-grow: 1;
  margin-right: 10%;
  color: white;
}

.textGrey{
  padding: 0px 50px;
  margin-right: 10;
  color: #696969;
}

.textHeaderWhite{
  color: white;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.textHeaderGrey{
  color: #696969;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.textSubheaderWhite{
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.textSubheaderGrey{
  color: #696969;
  font-weight: bold;
  font-size: 30px;
}

.textMiniheaderGrey{
  color: #696969;
  font-weight: bold;
  font-size: 25px;
}

img {
  border-radius: 15px;
  max-width: 80vw; 
  height: auto;
}

a {
  color: #5a5f91;
}

@media (max-width: 769px){
  .generalStyle{
    margin: 70px 5px 0px 5px;
  font-size: 18px;
  }
  .blockGrey{
  padding: 10px 10px;
  height: fit-content;
  }

  .blockRed{
    padding-top: 80px;
    padding-left: 10px;
    height: fit-content;
    padding-bottom: 10px;
  }

  .blockWhite{
    padding: 10px 10px;
    background-color: white;
    height: fit-content;
  }

  .blockWithImage{
    padding: 20px 10px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    word-wrap: break-word;  
  }
  .textHeaderWhite{
    font-size: 25px;
  }

  .textHeaderGrey{
    font-size: 25px;
  }

  .textSubheaderWhite{
    font-size: 23px;
  }

  .textSubheaderGrey{
    font-size: 23px;
  }

  .textMiniheaderGrey{
    font-size: 20px;
  }

  .smallImage{
    display: none;
  }
}

@font-face {
  font-family: "Montserrat Alternates"; 
  src: url("../data/fonts/Montserrat Alternates.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "CMU Modern Serif Roman"; 
  src: url("../data/fonts/cmunrm.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');