.generalStyle{
  padding: 70px 100px 20px 100px;
  color: grey;
  word-wrap: break-word;
  font-family: "Open Sans", "CMU Modern Serif Roman", "Montserrat Alternates", "Helvetica", "Arial", sans-serif;
  min-height: 100vh;
  border-bottom : 1px solid rgb(216, 216, 221);
}


.blockWhite{
  padding-top: 30px;
  background-color: white;
  height: fit-content;
}

.blockWithImage{
  padding: 20px 0px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  word-wrap: break-word;
  gap: 10%;  
}


.imageStyle {
  width: 30%;
  margin: 0px 25px;
}

.smallImage {
  max-width: 20vw;
  height: auto;
}


.textBlock{
  padding: 10%;
}

.textGrey{
  padding: 0px 50px;
  margin-right: 10;
  color: #696969;
}

.textHeaderGrey{
  color: #696969;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.textSubheaderGrey{
  color: #696969;
  font-weight: bold;
  font-size: 30px;
}

.textMiniheaderGrey{
  color: #696969;
  font-weight: bold;
  font-size: 25px;
}

img {
  border-radius: 15px;
  max-width: 80vw; 
  height: auto;
}

a {
  color: #5a5f91;
}

.quoteStyle {
  background-color: #f0f0f3; 
  border-radius: 25px;
  width: calc(100% - 20px);
  padding: 20px;
}

.cardStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: fit-content;
}

.cardHeader {
  background-color : #f0f0f3; 
  border-radius: 25px 0px 0px 25px; 
  flex-grow: 1; 
  border-right: 6px solid #5a5f91;
  color: #696969;
  padding: 0px 50px;
  margin-right: 10;
}

.imgWithLink {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.imgWithLink-drugs {
  background-size: cover;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  align-content: center;
  text-align: center;
  background-image: url('../data/images/drugforlink.jpg');
}

.imgWithLink-surgery {
  background-size: cover;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  align-content: center;
  text-align: center;
  background-image: url('../data/images/surgeryforlink.jpg');
}

.imgWithLink-devices {
  background-size: cover;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  align-content: center;
  text-align: center;
  background-image: url('../data/images/devicesforlink.jpg');
}

.imgWithLink-lifestyle {
  background-size: cover;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  align-content: center;
  text-align: center;
  background-image: url('../data/images/lifestyleforlink.jpg');
}

.imgWithLink-symptoms {
  background-size: cover;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  align-content: center;
  text-align: center;
  background-image: url('../data/images/symptomsforlink.jpg');
}

.imgWithLink-examination {
  background-size: cover;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  align-content: center;
  text-align: center;
  background-image: url('../data/images/examinationforlink.jpg');
}

.imgWithLink-progression {
  background-size: cover;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  align-content: center;
  text-align: center;
  background-image: url('../data/images/chartforlink.jpg');
}

.imgWithLink-what {
  background-size: cover;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  align-content: center;
  text-align: center;
  background-image: url('../data/images/heartforlink.jpg');
}

.imgLink {
  color: rgb(45, 45, 45);
  background-color: #f0f0f3;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 769px){
  .generalStyle{
    padding: 70px 5px 20px 5px;
    font-size: 16px;
  }

  .blockWhite{
    background-color: white;
    height: fit-content;
  }

  .blockWithImage{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    word-wrap: break-word;
    gap: 10px;    
  }

  .textHeaderGrey{
    font-size: 24px;
  }

  .textSubheaderGrey{
    font-size: 20px;
  }

  .textMiniheaderGrey{
    font-size: 18px;
  }

  .smallImage{
    display: none;
  }

  .imageStyle {
    width: 90%;
    align-self: center;
    margin: 0px 25px;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }

  ol {
    margin: 0;
    padding: 0;
  }

  .imgWithLink-drugs {
    width: 20vw;
    height: 20vw;
  }

  .imgWithLink-surgery {
    width: 20vw;
    height: 20vw;
  }

  .imgWithLink-devices {
    width: 20vw;
    height: 20vw;
  }

  .imgWithLink-lifestyle {
    width: 20vw;
    height: 20vw;
  }

  .imgWithLink-progression {
    width: 20vw;
    height: 20vw;
  }

  .imgWithLink-symptoms {
    width: 20vw;
    height: 20vw;
  }

  .imgWithLink-what {
    width: 20vw;
    height: 20vw;
  }

  .imgWithLink-examination {
    width: 20vw;
    height: 20vw;
  }

  .cardStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
  }

  .cardHeader { 
    border-right: none;
    border-bottom: 6px solid #5a5f91;
  }
  
  .imgLink {
    font-size: 12px;
  }
}

@font-face {
  font-family: "Montserrat Alternates"; 
  src: url("../data/fonts/Montserrat Alternates.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "CMU Modern Serif Roman"; 
  src: url("../data/fonts/cmunrm.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');