.Heart-logo {
  width: 30vw;
}

.Main{
  margin-top: 70px;
  word-wrap: break-word;
  font-family: "Open Sans", "CMU Modern Serif Roman", "Montserrat Alternates", "Helvetica", "Arial", sans-serif;
}

.MainBlock {
  max-width: 100vw;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  word-break: break-word;  
}

.MainNav {
  width: calc(50vw - 20%);
  height: 75vw;
  background: #5a5f91;
  background-image: url('../data/images/cardiologist.jpg');
  background-size: cover;
  color: #5a5f91;
  min-height: 100vh;
  padding: 20px 10% 0% 10%;
}

.MainNews {
  min-height: 100vh;
  width: calc(50vw - 10%);
  padding: 20px 5% 0% 5%;

}

.MainNewsText{
  word-wrap: break-word; 
  overflow-wrap: break-word;
  background-color: #f0f0f3;
  color: #696969;
  padding: 5%;
  border-radius: 0px 0px 25px 25px;
}

.MainNewsText h2 {
  border-bottom: 3px solid #5a5f91;
  width: fit-content;
}

.MainNewsHeader{
  word-wrap: break-word;    
  overflow-wrap: break-word;
  align-self: center;
  color: #696969;
  border-bottom: 3px solid #5a5f91;
  padding: 10px 0px;
  font-size: 40px;
  font-weight: bold;
  font-family: "Open Sans", "CMU Modern Serif Roman", "CMU Modern Sans Serif", "Montserrat Alternates", "Helvetica", "Arial", sans-serif;
}

.block{
  max-width: 100vw;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color: grey;
  text-align: center;
}

.block-text{
  color: white;
  padding: 0px 0px 15px 0px;
  font-family: "Open Sans", "CMU Modern Serif Roman", "CMU Modern Sans Serif", "Montserrat Alternates", "Helvetica", "Arial", sans-serif;
}

.block-header{
  color: white;
  font-weight: bold;
  padding: 15px 0px 15px 0px;
  font-family: "Open Sans", "CMU Modern Serif Roman", "CMU Modern Sans Serif", "Montserrat Alternates", "Helvetica", "Arial", sans-serif;
  font-size: 40px;
}

.line {
    display: block;           
    height: 3px;              
    border: none;             
    border-top: 3px solid #ccc; 
    margin: 1em 0;            
    padding: 0;
    max-width: 65vw;               
}

.block-image {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.medium-image{
  border-radius: 50%;
  max-height: 30vh;
  margin-right: 5vw;
  margin-left: 5vw;
  width: auto;
}

.linkStyle {
  color: #bdc1ef;
}

.navButton {
  padding: 8px 30px;
  border: 1px solid #5a5f91;
  color: #5a5f91;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
  font-family: "Open Sans", "CMU Modern Serif Roman";
}

.navButton:hover {
  background:  #5a5f91;
}

.navButtonLink {
  color: #5a5f91;
}

.navButtonLink:hover {
  color: white;
}

@media (max-width: 769px){
  .MainBlock {
  flex-direction: column;
  }

  .MainNav {
  width: calc(100vw - 20%);
  height: 150vw;
  }

  .MainNews {
  width: calc(100vw - 10%);
  height: fit-content;
  }

  .block-header{
  font-size: 20px;
  }
}

@font-face {
  font-family: "Montserrat Alternates"; 
  src: url("../data/fonts/Montserrat Alternates.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

@font-face {
  font-family: "CMU Modern Sans Serif"; 
  src: url("../data/fonts/cmunss.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "CMU Modern Serif Roman"; 
  src: url("../data/fonts/cmunrm.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');