.Main {
  padding-top: 100px;
}

.Heart-logo {
  width: 30vw;
}

.Main-header {
  max-width: 100vw;
  margin-left: 5vw;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  word-wrap: break-word;  
}

.Main-header-text{
  margin-left: 5vw;
  word-wrap: break-word; 
  overflow-wrap: break-word;
  align-self: center;
  color: #696969;
  font-family:  "Montserrat Alternates", "Helvetica", "Arial", sans-serif;
}

.Main-header-header-text{
  word-wrap: break-word;    
  overflow-wrap: break-word;
  align-self: center;
  color: #696969;
  font-size: 40px;
  font-weight: bold;
  font-family:  "Montserrat Alternates", "Helvetica", "Arial", sans-serif;
}

.block{
  max-width: 100vw;
  padding: 20px 5px;
  background-color: grey;
}

.block-text{
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  padding: 20px 5px;
  color: white;
  font-family:  "Montserrat Alternates", "Helvetica", "Arial", sans-serif;
  margin-left: 5vw;
  max-width: 60vw;
}

.block-header{
  padding: 10px 5px;
  color: white;
  font-weight: bold;
  font-family:  "Montserrat Alternates", "Helvetica", "Arial", sans-serif;
  font-size: 40px;
  margin-left: 5vw;
  max-width: 60vw;
}

.line {
    display: block;           
    height: 3px;              
    border: none;             
    border-top: 3px solid #ccc; 
    margin: 1em 0;            
    padding: 0;
    max-width: 65vw;               
}

@media (max-width: 769px){
  .Main-header {
  max-width: 100vw;
  margin-left: 5vw;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  word-wrap: break-word;  
  }
  .Main-header-header-text{
  word-wrap: break-word;    
  overflow-wrap: break-word;
  align-self: center;
  color: #696969;
  font-size: 20px;
  font-weight: bold;
  font-family:  "Montserrat Alternates", "Helvetica", "Arial", sans-serif;
  }
  .block-header{
  padding: 10px 5px;
  color: white;
  font-weight: bold;
  font-family:  "Montserrat Alternates", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  margin-left: 5vw;
  max-width: 60vw;
  }
}

@font-face {
  font-family: "Montserrat Alternates"; 
  src: url("../data/fonts/Montserrat Alternates.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 