.Main {
  padding-top: 100px;
}

.Heart-logo {
  width: 30vw;
}

.Main-header {
  max-width: 100vw;
  margin-left: 5vw;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  word-break: break-word;  
}

.Main-header-text{
  margin-right: 5vw;
  word-wrap: break-word; 
  overflow-wrap: break-word;
  align-self: center;
  color: #696969;
  font-family: "Open Sans", "CMU Modern Serif Roman", "CMU Modern Sans Serif", "Montserrat Alternates", "Helvetica", "Arial", sans-serif;
}

.Main-header-header-text{
  word-wrap: break-word;    
  overflow-wrap: break-word;
  align-self: center;
  color: #696969;
  font-size: 40px;
  font-weight: bold;
  font-family: "Open Sans", "CMU Modern Serif Roman", "CMU Modern Sans Serif", "Montserrat Alternates", "Helvetica", "Arial", sans-serif;
}

.block{
  max-width: 100vw;
  padding: 20px 5px;
  background-color: grey;
}

.block-text{
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  padding: 20px 5px;
  color: white;
  font-family: "Open Sans", "CMU Modern Serif Roman", "CMU Modern Sans Serif", "Montserrat Alternates", "Helvetica", "Arial", sans-serif;
  margin-left: 5vw;
  max-width: 60vw;
}

.block-header{
  padding: 10px 5px;
  color: white;
  font-weight: bold;
  font-family: "Open Sans", "CMU Modern Serif Roman", "CMU Modern Sans Serif", "Montserrat Alternates", "Helvetica", "Arial", sans-serif;
  font-size: 40px;
  margin-left: 5vw;
  max-width: 60vw;
}

.line {
    display: block;           
    height: 3px;              
    border: none;             
    border-top: 3px solid #ccc; 
    margin: 1em 0;            
    padding: 0;
    max-width: 65vw;               
}

.block-image {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.medium-image{
  border-radius: 50%;
  max-height: 30vh;
  margin-right: 5vw;
  margin-left: 5vw;
  width: auto;
}

@media (max-width: 769px){
  .Main-header {
  max-width: 100vw;
  margin-left: 5vw;
  }
  .Main-header-header-text{
  word-wrap: break-word;    
  font-size: 20px;
  }
  .block-header{
  padding: 10px 5px;
  font-size: 20px;
  margin-left: 5vw;
  max-width: 60vw;
  }
}

@font-face {
  font-family: "Montserrat Alternates"; 
  src: url("../data/fonts/Montserrat Alternates.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

@font-face {
  font-family: "CMU Modern Sans Serif"; 
  src: url("../data/fonts/cmunss.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "CMU Modern Serif Roman"; 
  src: url("../data/fonts/cmunrm.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');