.main{
    padding-top: 100px;
    background-color: #302e2e;
    color: white;
    height: 100vh;
    font-size: 20px;
    font-family:  "Montserrat Alternates", "Helvetica", "Arial", sans-serif;
}

.main-text{
    padding: 100px;
    background-color: #302e2e;
    height: 100vh;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    font-family:  "Montserrat Alternates", "Helvetica", "Arial", sans-serif;
}

@font-face {
  font-family: "Montserrat Alternates"; 
  src: url("../data/fonts/Montserrat Alternates.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}