.App {
  text-align: left;
}

.Heart-logo {
  height: 40vmin;
}

.App-header {
  max-width: 100vw;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 20px 5px;
}

.App-header-text{
  align-self: center;
  color: #696969;
  font-family:  "Verdana", "Helvetica", "Arial", sans-serif;
}

.App-header-header-text{
  align-self: center;
  color: #696969;
  font-size: 40px;
  font-weight: bold;
  font-family:  "Verdana", "Helvetica", "Arial", sans-serif;
}

.block{
  max-width: 100vw;
  padding: 20px 5px;
  background-color: grey;
}

.block-text{
  padding: 20px 5px;
  color: white;
  font-family:  "Verdana", "Helvetica", "Arial", sans-serif;
  margin-left: 5vw;
  max-width: 60vw;
}

.block-header{
  padding: 10px 5px;
  color: white;
  font-weight: bold;
  font-family:  "Verdana", "Helvetica", "Arial", sans-serif;
  font-size: 40px;
  margin-left: 5vw;
  max-width: 60vw;
}

.line {
    display: block;           
    height: 3px;              
    border: none;             
    border-top: 3px solid #ccc; 
    margin: 1em 0;            
    padding: 0;
    max-width: 65vw;               
}